/* ======================
   Global variables
====================== */

:root {
  color-scheme: light dark;

  /* Base */
  --gutter: 1.5rem;
  --font-family: ui-monospace, "Cascadia Code", "Source Code Pro", menlo, consolas, "DejaVu Sans Mono", monospace;

  /* Colors */
  --color-bg: #e9e6e2;
  --color-fg: #000;
  --color-link-bg: #e9e6e2;
  --color-dialog-bg: #fff;
  --color-focus: #3b82f6;
  --color-hover-mix: #000;
  --color-hair: #5c2f13;
  --color-tshirt: #0e1d32;
  --color-trousers: #1e3f98;
  --color-shoes-top: #7a7873;
  --color-shoes-bottom: #fff;
  --color-skin: #d6b098;
  --color-speak-bubble-bg: #fff;
  --color-speak-bubble-fg: #000;

  @media (prefers-contrast: more) {
    --color-tshirt: #000;
  }

  @media (prefers-color-scheme: dark) {
    --color-bg: #000;
    --color-fg: #fff;
    --color-link-bg: #191919;
    --color-dialog-bg: #151515;
    --color-hover-mix: #fff;

    @media (prefers-contrast: more) {
      --color-tshirt: #fff;
    }
  }
}

/* ======================
   Global styles
====================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100dvh;
  overscroll-behavior: none;
  touch-action: none;
  overflow: hidden;
}

html {
  font-size: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font-family);
  font-size: 1rem;
  user-select: none;
}

/* ======================
   Utilities
====================== */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.icon {
  display: block;
  width: 1em;
  height: 1em;
  stroke: currentColor;
  stroke-width: 2;
}

/* ======================
   Root
====================== */

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* ======================
   Footer
====================== */

@keyframes footer-item-animate-in {
  to {
    transform: none;
    opacity: 1;
  }
}

.footer {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block-end: var(--gutter);
  padding-inline: var(--gutter);
  z-index: 1;

  @media (width <= 30rem) {
    padding-block-end: calc(var(--gutter) * 0.5);
  }
}

.footer__nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__nav-item {
  --_animation-delay-start: 300ms;
  --_animation-delay-step: 40ms;
  --_animation-duration: 150ms;

  @media not (prefers-reduced-motion: reduce) {
    transform: translateY(1rem);
    opacity: 0;
    animation: footer-item-animate-in var(--_animation-duration) ease-out forwards;

    &:nth-child(1) {
      animation-delay: var(--_animation-delay-start);
    }

    &:nth-child(2) {
      animation-delay: calc(var(--_animation-delay-start) + var(--_animation-delay-step));
    }

    &:nth-child(3) {
      animation-delay: calc(var(--_animation-delay-start) + var(--_animation-delay-step) * 2);
    }

    &:nth-child(4) {
      animation-delay: calc(var(--_animation-delay-start) + var(--_animation-delay-step) * 3);
    }

    &:nth-child(5) {
      animation-delay: calc(var(--_animation-delay-start) + var(--_animation-delay-step) * 4);
    }
  }
}

.footer__nav-action {
  display: block;
  padding: 0.5rem 0.75rem;
  background-color: var(--color-link-bg);
  border-radius: 0.25rem;
  color: currentColor;
  text-decoration: none;
  font-size: 0.875rem;
  transition: transform 200ms ease-in-out;

  &:is(button) {
    margin: 0;
    border: none;
    font-family: var(--font-family);
    font-weight: inherit;
    cursor: pointer;
  }

  &:hover {
    background-color: color-mix(in oklab, var(--color-link-bg) 95%, var(--color-hover-mix) 5%);
  }

  &:active {
    transform: scale(0.95);
  }

  @media (prefers-color-scheme: light) {
    --_border-light: color-mix(in oklab, var(--color-link-bg) 60%, #fff 40%);
    --_border-dark: color-mix(in oklab, var(--color-link-bg) 85%, #000 15%);

    &:is(a, button) {
      border-radius: 0;
      border: 2px solid;
      border-color: var(--_border-light) var(--_border-dark) var(--_border-dark) var(--_border-light);
    }
  }
}

.footer__nav-action--icon {
  display: flex;
  align-items: center;
  gap: 0.25ch;
}

/* ======================
   Main
====================== */

.main {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* ======================
   Scene
====================== */

.scene {
  --canvas-base-unit: min(1rem, 2.5vh);
  --canvas-width: 7;
  --canvas-height: 23;
  --canvas-depth: 5;
  --_canvas-width: calc(var(--canvas-width) * var(--canvas-base-unit));
  --_canvas-height: calc(var(--canvas-height) * var(--canvas-base-unit));
  --_canvas-depth: calc(var(--canvas-depth) * var(--canvas-base-unit));

  width: var(--_canvas-width);
  height: var(--_canvas-height);
  perspective: 32rem;
  user-select: none;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

/* ======================
   Canvas
====================== */

@keyframes canvas-animate-in {
  to {
    transform: rotateY(1turn);
  }
}

.canvas {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  translate: 0 0 calc(var(--_canvas-depth) * -0.5);
  margin: 0;

  @media not (prefers-reduced-motion: reduce) {
    animation: canvas-animate-in 1500ms linear(0, 1.25, 1, 0.9, 1.04, 0.99, 1.005, 0.996, 1.001, 0.999, 1);
  }
}

/* ======================
   Cuboid
====================== */

.cuboid,
.cuboid__inner {
  position: absolute;
  transform-style: inherit;
  width: var(--_w);
  height: var(--_h);
  background-color: var(--_c);

  &::before,
  &::after {
    content: "";
    position: inherit;
    background-color: inherit;
  }
}

/* Cuboid Side: Back */
.cuboid {
  --_w: calc(var(--w, 1) * var(--canvas-base-unit)); /* Width */
  --_h: calc(var(--h, 1) * var(--canvas-base-unit)); /* Height */
  --_d: calc(var(--d, 1) * var(--canvas-base-unit)); /* Depth */
  --_x: calc(var(--x, 0) * var(--canvas-base-unit)); /* Pos X */
  --_y: calc(var(--y, 0) * var(--canvas-base-unit)); /* Pos Y */
  --_z: calc(var(--z, 0) * var(--canvas-base-unit)); /* Pos Z */
  --_c: var(--c); /* Color */

  transform: translate3d(var(--_x), var(--_y), calc(var(--_canvas-depth) * 0.5 - var(--_z) - var(--_d)));
}

/* Cuboid Side: Left & Right */
.cuboid::before,
.cuboid::after {
  width: var(--_d);
  height: var(--_h);
  left: calc(var(--_w) * 0.5 - var(--_d) * 0.5);
}

/* Cuboid Side: Left */
.cuboid::before {
  transform: rotateY(90deg) translateZ(calc(var(--_w) * 0.5)) translateX(-50%);
}

/* Cuboid Side: Right */
.cuboid::after {
  transform: rotateY(-90deg) translateZ(calc(var(--_w) * 0.5)) translateX(50%);
}

/* Cuboid Side: Front */
.cuboid__inner {
  transform: translateZ(var(--_d));
}

/* Cuboid Side: Top & Bottom */
.cuboid__inner::before,
.cuboid__inner::after {
  width: var(--_w);
  height: var(--_d);
  top: calc(var(--_h) * 0.5 - var(--_d) * 0.5);
}

/* Cuboid Side: Top */
.cuboid__inner::before {
  transform: rotateX(90deg) translateZ(calc(var(--_h) * 0.5)) translateY(-50%);
}

/* Cuboid Side: Bottom */
.cuboid__inner::after {
  transform: rotateX(-90deg) translateZ(calc(var(--_h) * 0.5)) translateY(50%);
}

/* ======================
   Dialog
====================== */

@keyframes dialog-open-desktop {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes dialog-close-desktop {
  to {
    opacity: 0;
    transform: translateY(1rem);
  }
}

@keyframes dialog-open-mobile {
  from {
    transform: translateY(100%);
  }

  to {
    transform: none;
  }
}

@keyframes dialog-close-mobile {
  to {
    transform: translateY(100%);
  }
}

@keyframes dialog-backdrop-animate-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes dialog-backdrop-animate-out {
  to {
    opacity: 0;
  }
}

.dialog {
  --_dialog-bg: var(--color-dialog-bg);
  --_dialog-fg: var(--color-fg);
  --_dialog-padding: 1rem;
  --_dialog-animation-duration: 150ms;

  width: 600px;
  max-height: calc(100dvh - var(--gutter));
  max-width: calc(100dvw - var(--gutter));
  padding: 0;
  background-color: var(--_dialog-bg);
  color: var(--_dialog-fg);
  border: 0;
  border-radius: 1.5rem;

  &::backdrop {
    background-color: rgb(0 0 0 / 15%);
  }

  @media not (prefers-reduced-motion: reduce) {
    [open]::backdrop {
      animation: dialog-backdrop-animate-in var(--_dialog-animation-duration) ease-out;
    }

    &.dialog--closing::backdrop {
      animation: dialog-backdrop-animate-out var(--_dialog-animation-duration) ease-out;
    }
  }

  @media (width < 30rem) {
    top: auto;
    bottom: calc(var(--gutter) * 0.5);
  }

  @media not (prefers-reduced-motion: reduce) {
    @media (width >= 30rem) {
      &[open] {
        animation: dialog-open-desktop var(--_dialog-animation-duration) ease-out;
      }

      &.dialog--closing {
        animation: dialog-close-desktop var(--_dialog-animation-duration) ease-out;
      }
    }

    @media (width < 30rem) {
      &[open] {
        animation: dialog-open-mobile var(--_dialog-animation-duration) ease-out;
      }

      &.dialog--closing {
        animation: dialog-close-mobile var(--_dialog-animation-duration) ease-out;
      }
    }
  }
}

.dialog__header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: var(--_dialog-padding);
  padding-block-end: 0;
  justify-content: space-between;
  background-color: var(--_dialog-bg);
}

.dialog__title {
  margin-block: 0;
  font-size: 1rem;
  font-weight: inherit;
  user-select: none;
}

.dialog__close {
  --focus-outline-offset: -2px;

  position: relative;
  aspect-ratio: 1;
  background-color: transparent;
  color: var(--_dialog-fg);
  padding: calc(var(--_dialog-padding) * 0.5);
  margin: 0;
  border: none;
  border-radius: 50%;
  font-size: 1.125em;
  font-family: var(--font-family);
  cursor: pointer;
  isolation: isolate;
  transition: transform 150ms ease;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: color-mix(in oklab, var(--_dialog-bg) 90%, var(--color-hover-mix) 10%);
    border-radius: 50%;
    opacity: 0;
    z-index: -1;
    transition: opacity 150ms ease;
  }

  &:enabled {
    &:hover {
      &::before {
        opacity: 1;
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

.dialog__close-icon {
  display: block;
  width: 1em;
  height: 1em;
}

.dialog__body {
  padding: var(--_dialog-padding);
  overflow: auto;
}

.dialog__paragraph {
  margin-block: 0;
  font-size: 1rem;

  & + & {
    margin-block-start: 1lh;
  }
}

/* ======================
   Avatar
====================== */

/* Avatar: Hair */

.avatar__hair {
  --c: var(--color-hair);
}

.avatar__hair--top {
  --w: 2;
  --h: 1;
  --d: 3;
  --x: 2;
  --y: 0;
  --z: 1;
}

.avatar__hair--middle {
  --w: 5;
  --h: 1;
  --d: 4;
  --x: 1;
  --y: 1;
  --z: 1;
}

.avatar__hair--back {
  --w: 5;
  --h: 2;
  --d: 2;
  --x: 1;
  --y: 2;
  --z: 3;
}

/* Avatar: Face */

.avatar__face {
  --c: var(--color-skin);
}

.avatar__face--nose {
  --w: 1;
  --h: 1;
  --d: 1;
  --x: 3;
  --y: 3;
  --z: 0;
}

.avatar__face--front {
  --w: 3;
  --h: 4;
  --d: 1;
  --x: 2;
  --y: 2;
  --z: 2;
}

.avatar__face--middle {
  --w: 3;
  --h: 3;
  --d: 1;
  --x: 2;
  --y: 2;
  --z: 1;
}

.avatar__face--back {
  --w: 3;
  --h: 2;
  --d: 1;
  --x: 2;
  --y: 4;
  --z: 3;
}

/* Avatar: Arm */

.avatar__arm {
  --w: 1;
  --h: 5;
  --d: 2;
  --y: 9;
  --z: 2;
  --c: var(--color-skin);
}

.avatar__arm--left {
  --x: 6;
}

.avatar__arm--right {
  --x: 0;
}

/* Avatar: T-shirt */

.avatar__tshirt {
  --c: var(--color-tshirt);
}

.avatar__tshirt--body {
  --w: 5;
  --h: 7;
  --d: 4;
  --x: 1;
  --y: 6;
  --z: 1;
}

.avatar__tshirt--arm {
  --w: 1;
  --h: 3;
  --d: 2;
  --y: 6;
  --z: 2;
}

.avatar__tshirt--arm-left {
  --x: 6;
}

.avatar__tshirt--arm-right {
  --x: 0;
}

/* Avatar: Trousers */

.avatar__trousers {
  --c: var(--color-trousers);
}

.avatar__trousers--waist {
  --w: 5;
  --h: 1;
  --d: 2;
  --x: 1;
  --y: 13;
  --z: 2;
}

.avatar__trousers--leg {
  --w: 2;
  --h: 7;
  --d: 2;
  --x: 4;
  --y: 14;
  --z: 2;
}

.avatar__trousers--leg-left {
  --x: 4;
}

.avatar__trousers--leg-right {
  --x: 1;
}

/* Avatar: Shoes */

.avatar__shoes {
  --w: 2;
  --h: 1;
  --d: 3;
  --z: 1;
}

.avatar__shoes--top {
  --y: 21;
  --c: var(--color-shoes-top);
}

.avatar__shoes--bottom {
  --y: 22;
  --c: var(--color-shoes-bottom);
}

.avatar__shoes--left {
  --x: 4;
}

.avatar__shoes--right {
  --x: 1;
}

/* Avatar: Speak Bubble */

.avatar__speak-bubble {
  --c: var(--color-speak-bubble-bg);
  --d: 1;
  --z: 2;
}

.avatar__speak-bubble--main {
  --w: 7;
  --h: 5;
  --x: 7;
  --y: -4;
}

.avatar__speak-bubble--angle {
  --w: 1;
  --y: 1;
}

.avatar__speak-bubble--angle-main {
  --h: 2;
  --x: 8;
}

.avatar__speak-bubble--angle-alt {
  --h: 1;
  --x: 9;
}

.avatar__speak-bubble--content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--canvas-base-unit);
  margin: 0;
  color: var(--color-speak-bubble-fg);
  text-align: center;
  font-size: calc(var(--canvas-base-unit) * 0.75);
}

/* ======================
   Focus
====================== */

@supports selector(:focus-visible) {
  :where(a, button, input, select, textarea, summary, [role="button"]) {
    &:focus-visible {
      outline: 2px solid var(--color-focus);
      outline-offset: var(--focus-outline-offset, 2px);
    }
  }
}

@supports not selector(:focus-visible) {
  :where(a, button, input, select, textarea, summary, [role="button"]) {
    &:focus {
      outline: 2px solid var(--color-focus);
      outline-offset: var(--focus-outline-offset, 2px);
    }
  }
}
